<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>単語テスト</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}" />
  </head>
  <body>
    <!-- 問題 -->
    <section id="scope-question">
      <header class="titlebar">
        <h1 class="app-title">{{ wordlist.name }}</h1>
        <div class="meta">
          <div class="range">
              {% for range in ranges %}
              <a>{{ range.start }} ～ {{ range.end }} 番</a>
              {% endfor %}
          </div>
          <div class="num-sequence">
              <p>{{ num_question }}問</p>
              <p>{{ sequence }}</p>
          </div>
        </div>
      </header>


      <main class="sheet">
        {% for word in words %}
        <div class="row grid-3">
          <div class="cell num">{{ word.number }}</div>
          <div class="cell word">{{ word.term }}</div>
          <div class="cell meaning">
            <div class="meaning-text">{{ word.meaning }}</div>
          </div>
        </div>
        {% endfor %}
      </main>
    </section>

    <!-- 改ページ -->
    <div class="page-break"></div>

    <!-- 解答 -->
    <section id="scope-anwer">
      <header class="titlebar">
        <h1 class="app-title">{{ wordlist.name }}</h1>
        <div class="meta">
          <div class="range">
              {% for range in ranges %}
              <a>{{ range.start }} ～ {{ range.end }} 番</a>
              {% endfor %}
          </div>
          <div class="num-sequence">
              <p>{{ num_question }}問</p>
              <p>{{ sequence }}</p>
          </div>
        </div>
      </header>


      <main class="sheet">
        {% for word in words %}
        <div class="row grid-3">
          <div class="cell num">{{ word.number }}</div>
          <div class="cell word">{{ word.term }}</div>
          <div class="cell meaning">
            <div class="meaning-text">{{ word.meaning }}</div>
          </div>
        </div>
        {% endfor %}
      </main>

    </section>
  </body>
</html>
