
{% extends "base.html" %}

{% block title %}
単語編集画面
{% endblock %}

{% block loadcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'vocab/css/editstyle.css' %}">
{% endblock %}


{% block content %}
<div class="d-flex flex-column flex-grow-1 h-100 w-75 mx-auto">
    <div id="wordlist_saerch" class="d-flex flex-row justify-content-evenly gap-5 mb-2">
        <select class="w-100" onchange="location.href='?target_word_list=' + this.value;">
            <option value="{{target_word_list.name}}">{{target_word_list.name}}</option>
            {% for word_list in word_lists %}
            <option value="{{word_list.name}}">{{word_list.name}}</option>
            {% endfor %}
        </select>

        <div id="word-number-ranged" class="d-flex">
            <input id="start-range" type="number">
            <a> ～ </a>
            <input id="end-range" type="number">
        </div>

        <div class="input-group">
            <input id="search_box" type="text" class="form-control" placeholder="キーワード...">
            <button class="btn btn-outline-secondary" type="button" onclick="searchWord()">検索</button>
        </div>
    </div>

    <div id="word-table" class="d-flex flex-column flex-grow-1 overflow-auto mb-2">
        <header class="d-flex flex-row flex-shrink-0">
            <div class="p-2 border word-number">単語番号</div>
            <div class="p-2 border word-term">単語</div>
            <div class="p-2 border word-meaning">意味</div>
            <div class="p-2 border word-edited-by">最終更新者</div>
        </header>

        <div id="word-table-content" class="flex-grow-1 overflow-auto">
            {% for word in words %}
            <div class="word-row d-flex flex-row flex-shrink-0" data-id="{{word.id}}" data-number="{{word.number}}">
                <div class="p-2 border word-number">{{word.number}}</div>
                <div class="p-2 border word-term">{{word.term}}</div>
                <div class="p-2 border word-meaning overflow-auto">{{word.meaning}}</div>
                <div class="p-2 border word-edited-by">{{word.latest_edited_by}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="buttons" class="d-flex flex-row gap-2 flex-shrink-0 mb-2">
        <a href="#" class="btn btn-secondary text-center wordlist-btn">
            単語帳新規作成
        </a>
        <a href="#" class="btn btn-secondary text-center wordlist-btn me-auto">
            単語帳削除
        </a>
        <a href="#" class="btn btn-secondary text-center word-btn">
            写真から追加
        </a>
        <button type="button" class="btn btn-secondary text-center word-btn" data-bs-toggle="modal" data-bs-target="#add-word-modal">
            単語手動追加
        </button>
        <a href="#" class="btn btn-secondary text-center word-btn">
            単語を削除
        </a>
    </div>
</div>

<!-- 単語手動追加用モーダル -->
<div id="add-word-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">新しい単語を追加</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="row m-2">
                        <h5 class="col-3">単語番号</h5>
                        <input id="added-word-number" type="number" class="col-3">
                    </div>
                    <div class="row m-2">
                        <h5 class="col-3">単語</h5>
                        <input id="added-word-term" type="text" class="col-9">
                    </div>
                    <div class="row m-2">
                        <h5 class="col-3">意味</h5>
                        <input id="added-word-meaning" type="text" class="col-9">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="addWord()">追加する</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block loadjs %}
<script src="{% static 'vocab/js/edit.js' %}"></script>
{% endblock %}