<!-- 単語帳追加用モーダル -->
<div id="create-wordlist-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">新しい単語帳を追加</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="row m-2">
                        <h5 class="col-4">単語帳の名前</h5>
                        <input id="new-wordlist" type="text" class="col-8">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" onclick="createNewWordlist()">作成する</button>
            </div>
        </div>
    </div>
</div>

<!-- 単語帳削除用モーダル -->
<div id="delete-wordlist-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">単語帳を削除</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column flex-grow-1">
                    <div class="row">
                        <h5>削除する単語帳: </h5>
                        <h5 id="delete-target-wordlist"> {{ target_word_list.name }} </h5>
                    </div>
                    <h5>削除する単語帳の名前を入力してから、削除ボタンを押してください。</h5>
                    <input type="text" id="delete-target-wordlist-input">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-danger" onclick="deleteWordlist()">削除する</button>
            </div>
        </div>
    </div>
</div>

<!-- 単語手動登録用モーダル -->
<div id="add-word-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">新しい単語を追加</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="row m-2">
                        <h5 class="col-3">単語番号</h5>
                        <input id="added-word-number" type="number" class="col-3">
                    </div>
                    <div class="row m-2">
                        <h5 class="col-3">単語</h5>
                        <input id="added-word-term" type="text" class="col-9">
                    </div>
                    <div class="row m-2">
                        <h5 class="col-3">意味</h5>
                        <input id="added-word-meaning" type="text" class="col-9">
                    </div>
                    <h4 id="register-word-success-message" class="d-none"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideRegisterWordSuccessMessage()" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-danger" onclick="registerWord()">追加する</button>
            </div>
        </div>
    </div>
</div>


<!-- 単語削除モーダル -->
<div id="delete-words-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">単語を削除</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    <caption>削除する単語一覧</caption>
                    <thead>
                        <tr>
                            <th scope="col">番号</th>
                            <th scope="col">単語</th>
                            <th scope="col">意味</th>
                        </tr>
                    </thead>
                    <tbody id="delete-words-table-body"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-words-modal-re">削除する</button>
            </div>
        </div>
    </div>
</div>
<div id="delete-words-modal-re" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="motdal-title">単語を削除</h5>
            </div>
            <div class="modal-body">
                <h2 style="color: red;">この変更は取り消せません。</h2>
                <h3>本当に削除してよろしいですか？</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteWords()">削除する</button>
            </div>
        </div>
    </div>
</div>