
#configure {
    height: 100%;
}

#wordlist-selector {
    width: auto;
}

#num-questions-input{
    width: auto;
}

#add-range-btn {
    margin: 0 auto;
}

#loading {
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
}