
.word-checkbox-div {
    width: 5%;
}

.word-number {
    width: 10%;
}

.word-term {
    width: 30%;
}

.word-meaning {
    width: 40%;
}

.word-edited-by {
    width: 20%;
}


.wordlist-btn {
    width: 16%;
}

.word-btn {
    width: 16%;
}