
.word-checkbox-div {
    width: 5%;
}

.word-info {
    width: 95%;
}

.word-number {
    width: 10%;
}

.word-term {
    width: 30%;
}

.word-meaning {
    width: 40%;
}

.word-edited-by {
    width: 20%;
}


.wordlist-btn {
    width: 16%;
}

.word-btn {
    width: 16%;
}

.selected-word-row {
  outline: 2px solid #f7c948;           /* はっきりした黄枠 */
  outline-offset: -2px;                  /* 枠を内側に */
  background-color: #fff8e1;             /* うっすら黄色背景 */
}